/* Author: Nemanja Mićanović 0595/2021 */
body {
    background-color: #1a1a1b;
}

#header {
    background-color: #2f2f2f;
    color: #a2170f;
    border-bottom: 3px solid white;
    font-family: "Audiowide", sans-serif;
}

#levaStrana {
    background-color: #424242;
    color: white;
    border-right: 3px solid white;
    overflow-x: scroll;
}

.parametriDesnaStrana {
    padding-top: 20px;
    font-size: 22px;
    text-decoration: underline;
    margin: 0;
}

.vrednostiDesnaStrana {
    font-size: 20px;
    margin: 0;
}

.participants {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    margin: 0;
}

.participants:hover {
    color: #8d8d8d;
}

.playerCount {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#main {
    background-color: #424242;
    overflow-x: scroll;
}

.mesto {
    width: 200px;
    height: 50px;
    background-color: #686868;
    border: 3px solid black;
}

#joinTour {
    background-color: green;
    color: white;
    margin-bottom: 10px;
}

#joinTour:hover {
    background-color: rgb(0, 105, 0);
}

#leaveTour {
    background-color: rgb(210, 0, 0);
    color: white;
}

#leaveTour:hover {
    background-color: rgb(155, 2, 2);
}

.xButton {
    background-color: red;
}
