/* Author: Viktor Mitrovic */

:root {
    /* Background colors */
    --bg-color: #1a1a1b;

    /* Log In button colors */
    --logo-red: #a2170f;
    --logo-red-button-hover: #73100b;
    --logo-letter: white;

    /* GameHub header colors */
    --gamehub-header-letter: white;

    /* Banner colors */
    --banner-letter: white;

    /* Post area colors */
    --post-area-border-color: white;

    /* Create post colors */
    --create-post-letter: white;

    /* Single post colors */
    --post-bg-color: #1e2123;
    --post-border-color: #292c30;
    --post-hover-bg-color: var(--post-border-color);

    --post-body-letter: #878787;
    --post-title-letter: white;
    --post-username-letter: white;
    --post-like-button-letter: white;

    /* Button area colors */


    /* Single forum button colors */

    --forum-button-bg-color: var(--post-bg-color);
    --forum-button-border-color: var(--post-border-color);
    --forum-button-hover-bg-color: var(--post-hover-bg-color);
    

    --forum-button-letter: white;
}

.logo {
    height: 90px;

    user-select: none;
}

.gamehub-header {
    color: var(--gamehub-header-letter);

    font-family: "Audiowide", sans-serif;
    text-decoration: none;

    user-select: none;
}

svg.profile-icon {
    fill: none;
    stroke: white;
    width: 40px;
}

svg.notification-icon {
    fill: none;
    stroke: white;
    width: 25px;
}

hr.navbar-divider {
    color: white;

    width: 99%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 15px;
}