<!-- Author: Viktor Mitrovic -->
<!-- Version 1.1 author: Tadija Goljic -->
{% extends 'GameHubApp/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/style_sign_in_sign_up.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/style_header.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/style_header.css' %}" type="text/css">
{% endblock %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row change-password-area justify-content-center">
            <div class="col-sm-12 shrink-change-password-area">
                <h2 class="text-center white-text">Change your password</h2> <br>
                <div id="sign-in-div" class="text-center mx-auto col-sm-12">
                    <form action="/change-password/{{ id_user }}" method="post" style="width: 100%;">
                        {% csrf_token %}
                        <div class="row text-start white-text">
                            <label for="email-field">Old password:</label> <br>
                        </div>
                        <input id="old-password-field" name="old-password-field" class="sign-in-field" type="password" placeholder="old passowrd" style="width: 100%;"> <br>
                        <div class="row text-start white-text">
                            <label for="username-field">New password:</label> <br>
                        </div>
                        <input id="new-password-field" name="new-password-field" class="sign-in-field" type="password" placeholder="new password" style="width: 100%;"> <br>
                        <div class="row text-start white-text">
                            <label for="password-field">New password again:</label> <br>
                        </div>
                        <input id="new-password-again-field" name="new-password-again-field" class="sign-in-field" type="password" placeholder="new passowrd again" style="width: 100%;"> <br>
                        <input id="submit-button" class="sign-in-field" type="submit" value="Change">
                        <button id="cancel-button" type="button" class="sign-in-field" onclick="location.href='{% url "user_profile" id_user %}'">Cancel</button>
                    </form>
                </div>
            </div>
            <p class="text-center messages">{{ message }}</p>
        </div>
    </div>
{% endblock %}