<!-- Author: Tadija Goljic 0272/2021 -->
{% extends 'GameHubApp/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/style_header.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/style_sign_in_sign_up.css' %}" type="text/css">
{% endblock %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h2 class="text-center white-text">Reset your password</h2> <br>
            <div id="sign-in-div" class="text-center mx-auto col-sm-12">
                <form action="/forgot-password" method="post" style="width: 100%;">
                    {% csrf_token %}
                    <div class="row text-start white-text">
                        <label for="username-field">Enter your email:</label> <br>
                    </div>
                    <input id="email-field" name="email-field" class="sign-in-field" type="email" placeholder="email" style="width: 100%;" value="{{ email }}"> <br>
                    <input id="submit-button" class="sign-in-field" type="submit" value="Send email">
                </form>
            </div>
            <p class="text-center messages">{{ message }}</p>
        </div>
    </div>
{% endblock %}