<!-- Author: Tadija Goljic 0272/2021 -->
{% extends 'GameHubApp/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/style_header.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/style_sign_in_sign_up.css' %}" type="text/css">
{% endblock %}

{% block title %}
    Enter new password
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h2 class="text-center white-text">Enter new password</h2> <br>
            <div id="sign-in-div" class="text-center mx-auto col-sm-12">
                <form action="{% url 'reset_password' id_reset %}" method="post" style="width: 100%;">
                    {% csrf_token %}
                    <div class="row text-start white-text">
                        <label for="password-field">Password:</label> <br>
                    </div>
                    <input id="password-field" name="password-field" class="sign-in-field" type="password" placeholder="password" style="width: 100%;"> <br>
                    <div class="row text-start white-text">
                        <label for="password-field">Confirm new password:</label> <br>
                    </div>
                    <input id="password-again-field" name="password-again-field" class="sign-in-field" type="password" placeholder="password" style="width: 100%;"> <br>
                    <input id="submit-button" class="sign-in-field" type="submit" value="Confirm">
                </form>
            </div>
        <p class="text-center messages">{{ message }}</p>
        </div>
    </div>
{% endblock %}