/* Author: Tadija Goljic 0272/2021 */

:root {

    /* Background colors */
    --bg-color: #1a1a1b;

    /* Log In button colors */
    --logo-red: #a2170f;
    --logo-red-button-hover: #73100b;
    --logo-letter: white;

    /* GameHub header colors */
    --gamehub-header-letter: white;

    /* Banner colors */
    --banner-letter: white;

    /* Post area colors */
    --post-area-border-color: white;

    /* Create post colors */
    --create-post-letter: white;

    /* Single post colors */
    --post-bg-color: #1e2123;
    --post-border-color: #292c30;
    --post-hover-bg-color: var(--post-border-color);

    --post-body-letter: #878787;
    --post-title-letter: white;
    --post-username-letter: white;
    --post-like-button-letter: white;

    /* Single forum button colors */

    --forum-button-bg-color: var(--post-bg-color);
    --forum-button-border-color: var(--post-border-color);
    --forum-button-hover-bg-color: var(--post-hover-bg-color);
    
    --forum-button-letter: white;

}

body {
    background-color: var(--bg-color);
}

#submit-button {
    background-color: var(--logo-red);
    border: 1px solid var(--logo-red);
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    user-select: none;
}

#submit-button:hover {
    background-color: var(--logo-red-button-hover);
}

#cancel-button {
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--logo-red);
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    user-select: none;
}

#cancel-button:hover {
    background-color: #dfdfdf;
}

#sign-in-div {
    background-color: var(--post-bg-color);
    border: 2px solid white;
    border-radius: 20px;
    width: 380px;
    padding-left: 8px;
    padding-right: 8px;
}

.field, .submit_button_sign_in {
    margin-bottom: 8px;
}

.white-text {
    color: white;
}

.body {
    background-color: var(--bg-color);
}

.messages {
    color: red;
    font-size: 20px;
}

#forgot-password-button {
    background-color: red;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--logo-red);
}